.touch-content {
    margin: 80px 0;
    @media only screen and (max-width: 575px) {
        margin: 30px 0;
    }
    .bg {
        position: relative;
        border-radius: 10px;
        width: 100% !important;
        border-radius: 10px;
        height: 97%;
        @media only screen and (max-width: 768px) {
            width: 100% !important;
            border-radius: 10px;
            height: 100%;
        }
        .bg-img {
            width: 100% !important;
            border-radius: 10px;
            height: 100%;
            object-fit: cover;
        }
        .right {
            position: absolute;
            bottom: -20%;
            right: 5%;
            @media only screen and (max-width: 992px) {
                display: none;
            }
        }
        .overlay {
            background-color: #333333 !important;
            top: 0;
            opacity: 0.5;
            left: 0;
            right: 0;
            bottom: 0;
            border-radius: 10px;
            position: absolute;
        }
    }
    .c-content {
        position: absolute;
        z-index: 99;
        padding: 50px;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        .page-content {
            @media only screen and (max-width: 768px) {
                margin-top: 30px;
            }
        }
        @media only screen and (max-width: 992px) {
            padding: 20px;
        }
        @media only screen and (max-width: 768px) {
            padding: 40px;
        }
        .info {
            background-color: #ff6000;
            border-radius: 100%;
            width: 56px;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 56px;
            margin: 10px;
            @media only screen and (max-width: 992px) {
                width: 26px;
                height: 26px;
            }
            img {
                width: 20px;
                height: 20px;
                @media only screen and (max-width: 768px) {
                    width: 20px;
                    height: 20px;
                }
            }
        }
        p {
            color: white;
            font-size: 16px;
            font-family: "Poppins", sans-serif;
            @media only screen and (max-width: 992px) {
                font-size: 14px;
            }
            @media only screen and (max-width: 768px) {
                font-size: 16px;
            }
        }
    }

    .about {
        h2 {
            font-size: 24px;
            font-weight: bold;
            margin-bottom: 30px;
            font-family: "Poppins", sans-serif;
        }
        p {
            font-size: 16px;
            font-family: "Poppins", sans-serif;
        }
    }
    .title2 {
        font-size: 40px;
        font-weight: 700;
        margin-bottom: 84px;
        position: relative;
        text-align: center;
        text-transform: uppercase;
        font-family: "Poppins", sans-serif;
        @media only screen and (max-width: 575px) {
            font-size: 30px;
        }
        &::after {
            content: "";
            height: 5px;
            position: absolute;
            bottom: -10px;
            -webkit-transition: all 0.3s ease;
            transition: all 0.3s ease;
            z-index: -1;
            background: #ff6000;
            margin: 0 auto;
            left: 0;
            right: 0;
            width: 15%;
            @media only screen and (max-width: 992px) {
            }
            @media only screen and (max-width: 768px) {
                width: 25%;
            }
        }
    }
    .contact-form {
        display: flex;
        flex-direction: column;
        // align-items: center;
        // justify-content: center;
        .form-control {
            border: 1px solid #ededed;
            border-radius: 4px;
            height: 48px;
            font-family: "Poppins", sans-serif;
            margin-bottom: 30px;
        }
        .area {
            height: 128px !important;
        }
        input:focus,
        textarea:focus {
            outline-offset: 0px !important;
            outline: none !important;
        }
        input:focus,
        textarea:focus {
            border: 1px solid #ff6000 !important;
            box-shadow: 0 0 3px #ff6000 !important;
            -moz-box-shadow: 0 0 3px #ff6000 !important;
            -webkit-box-shadow: 0 0 3px #ff6000 !important;
        }
    }
    .btn-send {
        background: #ff6000;
        border-radius: 4px;
        height: 48px;
        width: 100%;
        font-family: "Poppins", sans-serif;
        color: white;
        margin-top: 30px;
    }
}

.bg-footer {
    width: 100%;
    height: 500px;
    background-color: #0b0943;
    margin-top: 80px;
}
