//--------- Start News Area -------------//
.video {
  position: relative;
  height: 60vh;
}
.overlay{
  background-color: #a46d42;
  top: 0;
  opacity: 0.5;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
}
.video video {
  object-fit: cover;
  width: 100vw;
  height: 60vh;
  position: absolute;
  top: 0;
  left: 0;
}
.main-carousel{
  .slick-track {
    margin:auto !important;
}
}

.item {
  width: 100%;
  text-decoration: none;
  color: #000;
  display: flex !important;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin: auto !important;
  transition: all 0.3s;
  &:hover {
    text-decoration: none;
    color: #a46d42 !important;
  }
  @media only screen and (max-width: 768px) {
    margin:auto !important;
    
  }
}

.furniture-content {
  font-size: 30px;
  font-weight: 600;
  font-family: "poppins Pro Bold";
}

.furniture-img {
  // background-color: gray;
  font-size: 20px;
  width: 50%;
  border-radius: 50%;
  border: 1px solid white;
}

.furniture-text {
  padding-top: 20px;
  font-size: 20px;
  font-family: "poppins Pro Bold";
  font-weight: bold;
}
//----------- End News Area -------------//
.card-header {
  background-color: lightgray;
  cursor: pointer;
  border-bottom: none;
}

.card-header.active {
  background-color: #a46d42;
  color: white;
}

.list {
  li {
    font-family: "poppins Pro Regular";
  }
  p {
    font-family: "poppins Pro Regular";
  }
  .title {
    font-family: "poppins Pro Bold";
  }
}

.color-item img{
  width: 70%;
  height: 200px;
  @media only screen and (max-width: 768px) {
    width: 100%; 
  }
}

.main{
  img{
    height: 600px;
    width: 50vw;
    @media only screen and (max-width: 768px) {
      width: 100%; 
    }
  }
}


.custom-prev{
  background-color: #a46d42;
  border-radius: 10px;
  outline: 0 !important;
  border: none !important;
}
.custom-next{
  background-color: #a46d42;
  border-radius: 10px;
  outline: 0 !important;
  border: none !important;
}