//--------- Start News Area -------------//

.slick-slide-image {
  margin: 0 10px !important;
  width: 90%;
}

.item {
  width: 100%;
  text-decoration: none;
  color: #000;
  display: flex !important;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin: auto !important;
  transition: all 0.3s;
  &:hover {
    text-decoration: none;
    color: cadetblue !important;
  }
  @media only screen and (max-width: 768px) {
    margin: auto !important;
  }
}

.furniture-content {
  font-size: 30px;
  font-weight: 600;
}

//----------- End News Area -------------//

.color-item img {
  width: 100%;
  height: 200px;
  @media only screen and (max-width: 768px) {
    width: 100%;
  }
}

.color-item {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}

.main {
  img {
    height: 600px;
    width: 50vw;
    @media only screen and (max-width: 768px) {
      width: 100%;
    }
  }
}

//////////////////////////////////////@at-root
///
///
.home-main {
  padding: 62px 300px 0;
  position: relative;
  .select-img {
    cursor: pointer;
  }
  @media only screen and (max-width: 1444px) {
    padding: 62px 50px 0;
  }
  @media only screen and (max-width: 575px) {
    padding: 10px 20px;
  }
  .card {
    h4 {
      font-size: 16px;
      margin-bottom: 0 !important;
      font-family: "Poppins", sans-serif;
    }
    p {
      font-size: 14px;
      margin-bottom: 0 !important;
      font-family: "Poppins", sans-serif;
    }
  }
  .card-header {
    background-color: white;
    cursor: pointer;
    width: 100%;
    border-top: 1px solid #ededed;
    border-bottom: 1px solid #ededed !important;
  }

  .card-header.active {
    background-color: white;
  }
  .card-header.title {
    background-color: white;
    font-weight: 500;
    font-family: "Poppins", sans-serif;

    color: #000;
    font-size: 16px !important;
  }
  .circle {
    h4 {
      font-size: 16px;
      padding: 30px 0 20px;
      font-weight: 500;
    }
    .slick-slide-image4 {
      width: 90px;
      height: 90px;
      cursor: pointer;
      margin-right: 20px;
      border-radius: 50%;
      -moz-border-radius: 50%;
      -webkit-border-radius: 50%;
      object-fit: contain;
      &:hover {
        border: 1px solid #ff6000;
      }
      @media only screen and (max-width: 575px) {
        width: 80px;
        height: 80px;
      }
    }
  }
  .list {
    h2 {
      font-weight: 600;
      font-style: 34px;
      font-family: "Poppins", sans-serif;
    }
    ul {
      list-style: none;
      margin-left: 0;
      font-weight: 400;
      padding-left: 0;
      font-family: "Poppins", sans-serif;
    }
    li:before {
      content: "";
      display: inline-block;
      width: 12px;
      height: 12px;
      -moz-border-radius: 7.5px;
      -webkit-border-radius: 7.5px;
      border-radius: 7.5px;
      margin-right: 10px;
      background: #d9d9d9;
    }
    li {
      padding-left: 1em;
      text-indent: -1em;
      margin-top: 10px;
    }
    p {
    }
    .title {
      font-weight: bold;
    }
  }
  .slick-slider {
    width: 100%;
  }
  .title2 {
    font-size: 40px;
    font-weight: 700;
    padding-bottom: 54px;
    position: relative;
    text-align: center;
    font-family: "Poppins", sans-serif;
    &::after {
      content: "";
      height: 5px;
      position: absolute;
      bottom: 40px;
      left: 42%;
      -webkit-transition: all 0.3s ease;
      transition: all 0.3s ease;
      z-index: -1;
      background: #ff6000;
      width: 205px;
      margin: 0 auto;
      @media only screen and (max-width: 992px) {
        left: 38%;
        // width: 105px;
      }
      @media only screen and (max-width: 768px) {
        left: 38%;
        width: 105px;
      }
    }
  }
  .main-carousel {
    padding-bottom: 80px;
    .furniture-text {
      font-size: 16px;
      font-weight: bold;
    }
    .top-prev {
      left: -100px;
      background-color: rgb(236, 249, 255);
      border: none;
      width: 50px !important;
      height: 50px !important;
      position: absolute;
      cursor: pointer;
      top: 30% !important;
      border-radius: 100% !important;
      outline: none;
      display: flex;
      align-items: center;
      justify-content: center;
      @media only screen and (max-width: 1440px) {
        left: -30px;
        top: 25% !important;
      }
      @media only screen and (max-width: 1192px) {
        left: -10px;
        top: 25% !important;
      }
      @media only screen and (max-width: 992px) {
        left: -30px;
      }
      @media only screen and (max-width: 575px) {
        left: 0px;
      }
    }
    .top-next {
      right: -100px;
      background-color: rgb(236, 249, 255);
      border: none;
      width: 50px !important;
      height: 50px !important;
      position: absolute;
      cursor: pointer;
      top: 30% !important;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 100% !important;
      outline: none;
      @media only screen and (max-width: 1440px) {
        right: -30px;
        top: 25% !important;
      }
      @media only screen and (max-width: 1192px) {
        right: -10px;
        top: 25% !important;
      }
      @media only screen and (max-width: 992px) {
        right: -30px;
      }
      @media only screen and (max-width: 575px) {
        right: 0px;
      }
    }
  }
  .slick-dots-custom {
    position: absolute;
    bottom: 30px;
  }
  .slick-dots li.slick-active button:before {
    color: orange !important;
    font-size: 15px;
  }
  .slick-dots li button:before {
    font-size: 15px;
  }

  .three-img {
    h4 {
      font-weight: bold;
    }
  }
  .top-carousel {
    background-color: rgb(236, 249, 255);
    width: 208px;
    height: 208px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    &:hover {
      border: 1px solid #ff6000;
    }
    .furniture-img {
      font-size: 20px;
      width: 80%;
      border-radius: 50%;
      border: 1px solid white;
    }
    .furniture-text {
      margin-top: 20px !important;
      font-size: 18px;
      font-weight: 600;
      font-family: "Poppins", sans-serif;
      text-align: center;
    }
  }
  .slick-slide-image1 {
    border-radius: 10px;
    @media only screen and (max-width: 1024px) {
      height: auto;
    }
  }
  .sec-carousel {
    width: 90% !important;
    .slick-slide {
      width: 120px !important;
      height: 100px;
      border-radius: 4px !important;
    }
    .slick-slide-image {
      width: 105.5px;
      height: 100px;
      cursor: pointer;
      border-radius: 4px !important;
    }
    .top-prev2 {
      left: -30px;
      background-color: rgb(236, 249, 255);
      border: none;
      cursor: pointer;
      width: 20px !important;
      height: 100% !important;
      position: absolute;
      top: 0% !important;
      display: flex;
      align-items: center;
      justify-content: center;
      // border-radius: 100% !important;
      outline: none;
      @media only screen and (max-width: 1024px) {
        height: 100px;
      }
    }
    .top-next2 {
      right: -30px;
      background-color: rgb(236, 249, 255);
      border: none;
      cursor: pointer;
      width: 20px !important;
      height: 100% !important;
      position: absolute;
      top: 0% !important;
      display: flex;
      align-items: center;
      justify-content: center;
      // border-radius: 100% !important;
      outline: none;
    }
  }
}
