/* =================================== */
/* Start Footer Area Style */


.footer-bottom {
    padding: 20px 0 20px 0px;
    // margin: 0 100px;
    border-top: 1px solid #EDEDED;
    background: white;
    p{
        font-family: 'Poppins', sans-serif;
    }
}

/* End Footer Area Styles
/* =================================== */
