/* =================================== */
/* Start Footer Area Style */


.footer-bottom {
    padding: 20px 0 20px 0px;
    border-top: 1px solid #EDEDED;
    background: white;
}

/* End Footer Area Styles
/* =================================== */
