/*--------------------------------------------------------------
# Start Header Styles
--------------------------------------------------------------*/

.navbar-custom {
    .logo {
        width: 200px;
        height: 120px;
        @media only screen and (max-width: 992px) {
            width: 140px;
            height: 100px;
        }
        @media only screen and (max-width: 575px) {
            width: 100px;
            height: 80px;
        }
    }
    .header2 {
        border-bottom: 1px solid white;
    }
    position: relative;
    height: 500px;
    width: 100%;
    padding: 0 !important;
    @media only screen and (max-width: 575px) {
        height: 350px;
    }
    @media only screen and (max-width: 480px) {
        height: 300px;
    }
    .expan {
        @media only screen and (max-width: 992px) {
            background-color: #333333;
            width: 80% !important;
            top: 37%;
            left: 14%;
            border-radius: 10px;
            z-index: 99;
            position: absolute;
        }
        @media only screen and (max-width: 768px) {
            background-color: #333333;
            width: 60% !important;
            top: 37%;
            left: 14%;
            border-radius: 10px;
            z-index: 99;
            position: absolute;
        }
    }
    .content {
        position: absolute;
        top: 0;
        padding: 0 100px;
        @media only screen and (max-width: 992px) {
            padding: 0 30px;
        }
    }
    .overlay {
        background-color: #333333 !important;
        top: 0;
        opacity: 0.8;
        left: 0;
        right: 0;
        bottom: 0;
        border-bottom-left-radius: 60%;
        border-bottom-right-radius: 60%;
        position: absolute;
        @media only screen and (max-width: 575px) {
            border-bottom-left-radius: 50%;
            border-bottom-right-radius: 50%;
        }
    }
    .video video {
        object-fit: cover;
        width: 100vw;
        height: 500px;
        position: absolute;
        top: 0;
        border-bottom-left-radius: 60%;
        border-bottom-right-radius: 60%;
        left: 0;
        filter: grayscale(1);
        -webkit-filter: grayscale(1);
        filter: grayscale(100%);
        @media only screen and (max-width: 1192px) {
            width: 100vw;
        }
        @media only screen and (max-width: 575px) {
            height: 350px;
        }
        @media only screen and (max-width: 480px) {
            height: 300px;
        }
        @media only screen and (max-width: 575px) {
            border-bottom-left-radius: 50%;
            border-bottom-right-radius: 50%;
        }
    }
    .link-content {
        border-bottom: 1px solid #ededed;
        border-top: 1px solid #ededed;
        padding: 24px;
        .active {
            color: #ff6000 !important;
        }
        .nav-link {
            color: white;
            font-weight: 500;
            font-family: 'Poppins', sans-serif;
            padding-right: 24px;
            font-size: 16px;
            &:hover {
                color: #ff6000;
            }
        }
    }
    .link-content2 {
        padding: 24px;
        .active {
            color: #ff6000 !important;
        }
        .nav-link {
            color: white;
            font-weight: 500;
            padding-right: 24px;
            font-size: 16px;
            font-family: 'Poppins', sans-serif;
            &:hover {
                color: #ff6000;
            }
        }
    }
    .icons {
        background-color: white;
        border-radius: 100%;
        width: 48px;
        height: 48px;
        display: flex;
        cursor: pointer;
        margin-left: 28px;
        align-items: center;
        justify-content: center;
        box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);
        &:hover{
            background-color: cadetblue;
        }
        @media only screen and (max-width: 992px) {
            display: none;
        }
    }
    .nav-btn {
        position: relative;
        z-index: 199px !important;
        background-color: white;
        left: 0%;
    }
    .btn-content {
        background: #ff6000;
        border-radius: 4px;
        margin-top: 40px;
        width: 229px;
        height: 48px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        font-family: 'Poppins', sans-serif;
        &:hover {
            background-color: rgb(201, 67, 0);
        }
    }
    .title {
        font-size: 80px;
        font-weight: 700;
        color: white;
        margin-top: 30px;
        font-family: 'Poppins', sans-serif;
        text-transform: uppercase;
        @media only screen and (max-width: 1192px) {
            font-size: 50px;
        }
        @media only screen and (max-width: 992px) {
            font-size: 40px;
        }
        @media only screen and (max-width: 575px) {
            font-size: 20px;
        }
    }
}
/*--------------------------------------------------------------
# End Header Styles
--------------------------------------------------------------*/
.navbar-custom2 {
    
    .logo {
        width: 200px;
        height: 120px;
        @media only screen and (max-width: 992px) {
            width: 140px;
            height: 100px;
        }
        @media only screen and (max-width: 575px) {
            width: 100px;
            height: 80px;
        }
    }
    .header2 {
        border-bottom: 1px solid white;
    }
    position: relative;
    height: 200px;
    width: 100%;
    padding: 0 !important;
    .content {
        position: absolute;
        top: 0;
        padding: 0 100px;
        @media only screen and (max-width: 992px) {
            padding: 0 30px;
        }
    }
    .expan {
        @media only screen and (max-width: 992px) {
            background-color: #333333;
            width: 80% !important;
            top: 18%;
            left: 4%;
            border-radius: 10px;
            z-index: 99;
            position: absolute;
        }
        @media only screen and (max-width: 768px) {
            background-color: #333333;
            width: 60% !important;
            top: 14%;
            left: 14%;
            border-radius: 10px;
            z-index: 99;
            position: absolute;
        }
    }
    .overlay {
        background-color: #333333 !important;
        top: 0;
        opacity: 0.8;
        left: 0;
        right: 0;
        bottom: 0;
        position: absolute;
    }
    .video video {
        object-fit: cover;
        width: 100vw;
        height: 200px;
        position: absolute;
        top: 0;
        left: 0;
        filter: grayscale(1);
        -webkit-filter: grayscale(1);
        filter: grayscale(100%);
        @media only screen and (max-width: 1024px) {
            width: 100vw;
        }
    }
    .link-content {
        border-bottom: 1px solid #ededed;
        border-top: 1px solid #ededed;
        padding: 24px;
        .nav-link {
            color: white;
            font-weight: 500;
            padding-right: 24px;
            font-size: 16px;
            &:hover {
                color: #ff6000;
            }
        }
    }
    .link-content2 {
        padding: 14px;
        border-top: 1px solid #ededed;
        .active {
            color: #ff6000 !important;
        }
        .nav-link {
            color: white;
            font-weight: 500;
            padding-right: 24px;
            font-size: 16px;
            font-family: 'Poppins', sans-serif;
            &:hover {
                color: #ff6000;
            }
        }
    }
    .icons {
        background-color: white;
        border-radius: 100%;
        width: 48px;
        height: 48px;
        display: flex;
        margin-left: 28px;
        align-items: center;
        cursor: pointer;
        justify-content: center;
        box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);
        &:hover{
            background-color: cadetblue;
        }
        @media only screen and (max-width: 992px) {
            display: none;
        }
    }
    .nav-btn {
        position: relative;
        z-index: 199px !important;
        background-color: white;
        left: 0%;
    }
    .btn-content {
        background: #ff6000;
        border-radius: 4px;
        margin-top: 40px;
        width: 229px;
        height: 48px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
    }
    .title {
        font-size: 80px;
        font-weight: 700;
        color: white;
        margin-top: 30px;
        text-transform: uppercase;
        @media only screen and (max-width: 992px) {
            font-size: 40px;
        }
        @media only screen and (max-width: 575px) {
            font-size: 20px;
        }
    }
}
