/*--------------------------------------------------------------
# Start Header Styles
--------------------------------------------------------------*/
.navbar-brand{
    img{
        width:150px;
        height: 100px;
    }
}

.sm-icons{
    padding:0 20px;
}

.header-right{
    h3{
        font-size: 30px;
    }
}
/*--------------------------------------------------------------
# End Header Styles
--------------------------------------------------------------*/
